/* Montserrat 400 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url(./fonts/Montserrat-Regular.ttf) format('ttf')
}

/* Montserrat 600 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url(./fonts/Montserrat-SemiBold.ttf) format('ttf')
}

/* Montserrat 700 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url(./fonts/Montserrat-Bold.ttf) format('ttf')
}

/* Montserrat 800 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url(./fonts/Montserrat-ExtraBold.ttf) format('ttf')
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4 {
  margin: 0;
}

p {
  margin: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1770px;
  margin-right: 75px;
  margin-left: 75px;
}

.button {
  display: inline-block;
  padding: 20px 38px;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  background-color: #FF9900;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color .3s ease;
}

.button:hover,
.button:focus {
  background-color: #FFB84D;
}

.button:active {
  background-color: #E1670E;
}

.logo {
  cursor: pointer;
}

.logo:focus {
  outline: 2px solid #FF9900;
}

.icon:hover rect {
  fill: #FF9900;
}

.icon:hover path {
  stroke: #FF9900;
}

.icon:focus {
  outline: 2px solid #FF9900;
}

.link {
  transition: border-bottom .3s ease;
}

.link:hover {
  border-bottom: 2px solid #FF9900;
}

.link:focus {
  outline: 2px solid #FF9900;;
}

.link:active {
  outline: none;
  color: #E1670E;
  border-bottom: 2px solid #E1670E;
}

.input {
  padding: 14px 0 14px 24px;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  background-color: #414141;
  border: none;
  border-radius: 16px;
}

.input:hover,
.input:focus {
  background-color: #666666;
}

.input:active {
  color: #FFFFFF;
}

.section-heading {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

.section-description {
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.section-h3-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

/* Header */
.header {
  height: 100px;
  border-radius: 0 0 32px 32px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__burger {
  width: 30px;
  height: 23px;
  display: none;
}

.header__nav-list {
  display: flex;
  margin: auto;
}

.header__nav-item {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.header__nav-item:not(:last-child) {
  margin-right: 5em;
}

.header__nav-link {
  color: #000000;
}

.header__search-icon {
  width: 24px;
  height: 24px;
}

/* Hero */
.section-hero__container {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 100px;
  padding-bottom: 100px;

  padding: 100px 853px 100px 80px;
  background-image: url(/img/hero.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 32px;
}

.section-hero__heading {
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #FFFFFF;
}

.section-hero__description {
  margin-top: 24px;
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.section-hero__button {
  padding: 25px 39px;
}

/* About */
.section-about__container {
  margin-bottom: 100px;
}

.section-about__heading {
  margin-bottom: 20px;
}

.section-about__description {
  width: 70%;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.section-about__info {
  display: flex;
  justify-content: space-between;
}

.section-about__more {
  flex: 0 0 49%;
  position: relative;
  background-image: url(/img/about.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  border-radius: 32px;
}

.section-about__more-info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.section-about__more-description {
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.section-about__button {
  padding: 20px 38px;
  background-color: transparent;
  border: 3px solid #FF9900;
  border-radius: 16px;
}

.section-about__button:hover,
.section-about__button:focus {
  background-color: #FF9900;
}

.section-about__button:active {
  background-color: #E1670E;
}

.section-about__cards-list {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
}

.section-about__card {
  padding: 65px 10.80% 65px 37.28%;
  background-repeat: no-repeat;
  background-position: 8.3% 48%;
  background-size: 22%;
  border-radius: 32px;
  border: 1px solid #CACACA;
}

.section-about__card:not(:last-child) {
  margin-bottom: 32px;
}

.section-about__card_theme-cube {
  background-image: url(/img/about-1.svg);
}

.section-about__card_theme-round {
  background-image: url(/img/about-2.svg);
}

.section-about__card-heading {
  margin-bottom: 8px;
}

/* How */
.section-how__container {
  margin-bottom: 100px;
}

.section-how__heading {
  margin-bottom: 50px;
}

.section-how__nav-list {
  display: flex;
}

/* .section-how__nav-item {

} */

.section-how__nav-item-heading {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 45px;
  cursor: pointer;
  transition: color .3s ease;
}

.section-how__nav-item-heading:hover {
  color: #FF9900;
}

.section-how__nav-item-heading:focus {
  outline: 2px solid #FF9900;
}

.section-how__nav-item-heading:active {
  color: #E1670E;
}

.section-how__info {
  display: flex;
  justify-content: space-between;
}

.section-how__more {
  width: 45%;
}

.section-how__more-heading {
  margin-bottom: 8px;
}

.section-how__more-description {
  margin-bottom: 18px;
}

.section-how__buttons {
  display: flex;
}

.section-how__contract-button {
  margin-left: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #000000;
}

.section-how__contract-button:hover,
.section-how__contract-button:focus {
  border: none;
  color: #FFFFFF;
  background-color: #666666;
}

.section-how__contract-button:active {
  background-color: #000000;
}

.section-how__img {
  background-image: url(/img/how1x-1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 32px;
  width: 43%;
}

/* FAQ */
.section-faq__container {
  margin-bottom: 100px;
}

.section-faq__heading {
  margin-bottom: 32px;
}

.section-faq__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  border-top: 1px solid #CACACA;
}

.section-faq__item:hover {
  /* cursor: pointer; */
}

.section-faq__item:last-child {
  border-bottom: 1px solid #CACACA;
}

.section-faq__icon-link {
  width: 50px;
  height: 50px;
}

.section-faq__icon-link:hover .section-faq__icon path, 
.section-faq__icon-link:focus .section-faq__icon path {
  fill: white;
}

.section-faq__icon-link:hover .section-faq__icon ellipse,
.section-faq__icon-link:focus .section-faq__icon ellipse {
  fill: #FF9900;
}

.section-faq__icon-link:focus {
  outline: none;
}

.section-faq__icon-link:active
 .section-faq__icon {
  transform: rotate(45deg);
}

.section-faq__icon-link:active .section-faq__icon path {
  fill: black;
}

.section-faq__icon-link:active .section-faq__icon ellipse {
  fill: #CACACA;
}

/* Footer */
.footer {
  background-color: #000000;
}

.footer-container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__about {
  width: 25%;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__nav {
  margin-bottom: 90px;
}

.footer__nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #CACACA;
}

.footer__social-icon-list {
  display: flex;
}

.footer__social-icon {
  width: 60px;
  height: 60px;
}

.footer__social-icon-link:not(:last-child) {
  margin-right: 25px;
}

.footer__social-icon-link:hover path {
  fill: #FF9900;
}

.footer__social-icon-link:focus {
  outline: 2px solid #FF9900;
}

.footer__social-icon-link:active path {
  fill: #E1670E;
}

.footer__form-block {
  position: relative;
  width: 32.2%;
  display: inline-block;
}

.footer__form-heading {
  margin-bottom: 25px;
  color: #CACACA;
}

.footer__name-input {
  width: 100%;
  margin-bottom: 25px;
}

.footer__email-input {
  width: 100%;
  margin-bottom: 25px;
}

.footer__msg-input {
  width: 100%;
  margin-bottom: 25px;
  padding: 14px 0 104px 24px;
  height: 150px;
}

.footer__button {
  padding: 19px 52px;
  margin-right: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.footer__label-pesonal-data {
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

.footer__description {
  width: 20.51%;
  color: #CACACA;
}

@media (max-width: 1024px) {
  .container {
    max-width: 924px;
  }

  .section-h3-heading {
    line-height: 32px;
  }

  /* Header */
  .header__logo-link {
    margin-left: auto;
    margin-right: auto;
  }

  .header__nav {
    display: none;
  }

  .header__burger {
    display: block;
  }

  /* Hero */
  .section-hero__container {
    margin-top: 40px;
    margin-bottom: 35px;
    padding: 160px 77px 160px 77px;
  }
  
  .section-hero__heading {
    font-size: 60px;
    line-height: 73px;
  }

  .section-hero__description {
    font-size: 20px;
    line-height: 24px;
  }

  /* About */
  .section-about__container {
    margin-bottom: 80px;
  }

  .section-about__description {
    width: 100%;
    margin-bottom: 60px;
  }

  .section-about__info {
    flex-direction: column;
  }

  .section-about__more {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }

  .section-about__more-info {
    position: relative;
    margin-top: 50%;
    justify-content: space-between;
  }

  .section-about__more-description {
    width: 49%;
  }

  .section-about__cards-list {
    margin-left: 0;
  }

  .section-about__card-heading {
    line-height: 29px;
  }

  /* How */
  .section-how__nav-item-heading {
    margin-bottom: 50px;
  }

  .section-how__img {
    width: 47%;
  }

  /* FAQ */
  

  /* Footer */
  .footer__description {
    display: none;
  }

  .footer__about {
    width: 33%;
  }

  .footer__form-block {
    width: 58%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 668px;
    margin-left: 50px;
    margin-right: 50px;
  }

  /* Header */
  .header {
    height: 69px;
  }

  /* Hero */
  .section-hero__container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .section-hero__heading {
    font-size: 50px;
    line-height: 61px;
  }

  .section-hero__description {
    margin-top: 16px;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 22px;
  }

  /* About */
  .section-about__description {
    margin-bottom: 60px;
  }

  .section-about__card {
    padding: 65px 6.89% 65px 25.45%;
    background-size: 17%;
  }

  /* How */
  .section-how__container {
    margin-bottom: 49px;
  }

  .section-how__info {
    flex-direction: column-reverse;
  }

  .section-how__img {
    width: 100%;
    height: 284px;
    margin-bottom: 38px;
  }

  .section-how__more {
    width: 100%;
  }

  .section-how__more-description {
    margin-bottom: 25px;
  }

  /* FAQ */
  .section-faq__heading {
    width: 70%;
  }

  .section-faq__item-heading {
    font-size: 20px;
  }

  /* Footer */
  .footer-container {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
  }

  .footer__logo {
    margin-bottom: 16px;
  }

  .footer__nav {
    display: none;
  }

  .footer__form-block {
    width: 85%;
    margin-bottom: 50px;
  }

  .footer__button {
    padding: 19px 38px;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 390px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .section-heading {
    font-size: 24px;
    line-height: 29px;
  }

  .section-description {
    font-size: 14px;
    line-height: 28px;
  }

  .section-h3-heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  /* Header */
  .header__logo {
    width: 110px;
    height: 35px;
  }

  /* Hero */
  .section-hero__container {
    padding-top: 60px;
    padding-bottom: 59px;
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
  }

  .section-hero__heading {
    font-size: 20px;
    line-height: 24px;
  }

  .section-hero__description {
    margin-top: 6px;
    margin-bottom: 32px;
    font-size: 12px;
    line-height: 15px;
  }

  .section-hero__button {
    font-size: 12px;
    line-height: 15px;
    padding: 13px 28px;
    border-radius: 8px;
  }

  /* About */
  .section-about__container {
    margin-bottom: 61px;
  }

  .section-about__description {
    margin-bottom: 14px;
  }

  .section-about__more {
    display: flex;
    flex-direction: column;
    background-size: contain;
    border-radius: 16px;
  }

  .section-about__more-info {
    position: relative;
    width: 100%;
    padding: 0;
    margin-top: 72%;
    flex-direction: column;
    background-color: transparent;
    align-items: flex-start;
  }

  .section-about__more-description {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #000000;
  }

  .section-about__button {
    margin-top: 24px;
    padding: 14px 44px;
    font-size: 12px;
    line-height: 15px;
    color: #FF9900;
    border-radius: 8px;
    border: 2px solid #FF9900;
  }

  .section-about__card {
    background-position: 0 0;
    background-size: 64px 49px;
    padding: 61px 0 0 0;
    border: none;
  }

  .section-about__card-heading {
    width: 80%;
    line-height: 22px;
  }

  /* How */
  .section-how__container {
    margin-bottom: 60px;
  }

  .section-how__heading {
    margin-bottom: 20px;
  }

  .section-how__nav-item-heading {
    margin-bottom: 16px;
  }

  .section-how__img {
    height: 160px;
    margin-bottom: 16px;
  }

  .section-how__more-button {
    padding: 12px 44px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .section-how__contract-button {
    padding: 12px 32px;
    font-size: 12px;
    line-height: 15px;
    border: 1px solid #000000;
    border-radius: 8px;
  }

  /* FAQ */
  .section-faq__container {
    margin-bottom: 60px;
  }

  .section-faq__heading {
    width: 100%;
  }

  .section-faq__item-heading {
    font-size: 14px;
    line-height: 24px;
  }

  .section-faq__icon {
    width: 30px;
    height: 30px;
  }

  /* Footer */
  .footer-container {
    padding-top: 33px;
    justify-content: center;
    align-items: center;
  }

  .footer__form-block {
    width: 100%;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #414141;
  }

  .input {
    padding-left: 20px;
  }

  .footer__button {
    display: block;
    margin: 0 auto;
    padding: 12px 28px;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__checkbox-pesonal-data {
    margin-left: 5px;
  }

  .footer__about {
    align-items: center;
    justify-content: center;
  }

  .footer__logo {
    width: 131px;
    height: 42px;
  }

  .footer__social-icon {
    width: 40px;
    height: 40px;
  }

  .footer__social-icon-link:not(:last-child) {
    margin-right: 16px;
}
}